body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    box-sizing: border-box;
    width: 900px;
}

.header {
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.header h1 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 56px;
}

.header p {
    width: 880px;
    height: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    margin: auto;
    font-size: 16.1px;
    line-height: 29px;
}

.first-body, .second-body {
    height: 1000px;
    width: 850px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.top-right {
    width: 400px;
    margin-right: 50px;
}

#top {
    width: 400px;
    height: 380px;

    background: #D9D9D9;
}

.top-right p, .top-left p, .bottom-right p, .bottom-left p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

#readMore{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;

    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;

    background: #00D1FF;
    border-radius: 0px 30px;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.top-left {
    text-align: right;
}

#top2 {
    width: 400px;
    height: 500px;

    background: #D9D9D9;
}

.second-body{
    height: 650px;
}

.bottom-right {
    width: 500px;
    margin-right: 50px;
}

#bottom {
    width: 500px;
    height: 450px;

    background: #D9D9D9;
}

.bottom-left {
    text-align: right;
}

.bottom-left p{
    margin-top: 0px;
}